body {
  font-family: Roboto;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  color: #00B7FF;
}

a:hover {
    text-decoration:none;
}

section > h3 {
	padding:15px 0;
}

* {
    border-radius: 0!important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.pin-list button {
  margin-bottom:1em;
}